<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                  <h1>{{main.helloText}}</h1>
                  <p>{{main.descriptionShort}}</p>
                  <p>{{main.descriptionLong1}}</p>
                  <p>{{main.descriptionLong2}}</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">Lea más</a>
              <!--
                        <a class="caption-link" href="#" role="button">Equipo</a>
                -->
                    </p>
                </div>

                <div class="carousel-image wow zoomIn">
                    <img src="img/colombia.jpg" alt="colombia"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>Consulte los hechos del conflicto armado en Colombia</h1>
                    <p>Navegue por mapa, linea de tiempo o datos</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Mas</a></p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/velas.jpg" alt="colombia"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Posterior</span>
    </a>
</div>


<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Como aprovechar este sitio</h1>
                <p>El sitio se puede navegar de las siguientes maneras principales </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 features-text">
              <a href="/#/visual/mapa/cloropleth">
                <h2>Por mapa</h2>
                <i class="fa fa-map-marker big-icon pull-right"></i>
                <p>En un mapa se visualizan los hechos documentados. Con filtros se puede especificar parámetros de búsqueda, por ejemplo ubicación, responsables, o tipo de acontecimiento. </p>
              </a>
            </div>
            <div class="col-lg-4 features-text">
              <a href="/#/visual/tiempo">
                <h2>Por linea de tiempo</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>Observar como los hechos se han estado dando en el tiempo.</p>
              </a>
            </div>
            <div class="col-lg-4 features-text">
              <a href="/#/victimas/datos">
                <h2>Por datos</h2>
                <i class="fa fa-table big-icon pull-right"></i>
                <p>Los hechos, caso por caso, en su documentación abierta.</p>
              </a>
            </div>
        </div>
    </div>

</section>


<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contáctenos</h1>
                <p>Agradecemos su retroalimentación!</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-4 text-center">
            </div>
            <div class="col-lg-4 text-center">
                <address>
                    <strong>
                      <a href='http://unloquer.org/'>unloquer.org</a>
                    </strong>
                    </br>

                    <!--<abbr title="Phone">P:</abbr> -->
                </address>
                <a href="mailto:" class="btn btn-primary">Envíenos un correo</a>
                <p class="m-t-sm">
                  Siganos en redes sociales
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
              <!--
                <p><strong>&copy; 2015 Company Name</strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                -->
            </div>
        </div>
    </div>
</section>

<!--
<script src="../js/jquery-2.1.1.js"></script>
-->
<script src="../Landing_Page/js/pace.min.js"></script>
<script src="../Landing_Page/js/bootstrap.min.js"></script>
<script src="../Landing_Page/js/classie.js"></script>
<script src="../Landing_Page/js/cbpAnimatedHeader.js"></script>
<script src="../Landing_Page/js/wow.min.js"></script>
<script src="../Landing_Page/js/inspinia.js"></script>
