<div id="wrapper" ng-controller="VictimasCtrl">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control"
                            name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="#">

                    <i class="fa fa-sign-out"></i> Log out

                </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-3">
                    <div class="row" id="filtros">
                        <accordion close-others="oneAtATime">
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    Tipificaciones <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </accordion-heading>
                                <div class="input-group">
                                   <select chosen multiple id="filtros-tipificaciones" class="chosen-select" style="width:100%;" tabindex="4" ng-options="t.codigo as t.nombre for t in filtros.tipificaciones" ng-model="tipificaciones" data-placeholder="Selecciona Tipificaciones">
                                    </select>
                                </div>
                            </accordion-group>
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    Responsables <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </accordion-heading>
                                <div class="input-group">
                                   <select chosen multiple id="filtros-responsables" class="chosen-select" style="width:100%;" tabindex="4" ng-options="t.codigo as t.nombre for t in filtros.responsables" ng-model="responsables" data-placeholder="Selecciona Responsables">
                                    </select>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
                <div class="col-lg-9">
                    <leaflet center="center" layers="layers" height="600px"></leaflet>
                </div>
            </div>
        </div>
        <div class="footer">
        </div>
    </div>
</div>
