          <section id="stats_section" ng-controller="StatsCtrl">  
            <div class="row">
                  <div class="col-lg-12">
                    <div post-render view="ubicacion" id="pie_ubicacion" class="visualization_wrapper"></div>
                  </div> 
            </div>
            <div class="row">
                  <div class="col-lg-12">
                    <div post-render view="tipificaciones" id="pie_tipificaciones" class="visualization_wrapper"></div>
                  </div> 
            </div>
            <div class="row">
                  <div class="col-lg-12">
                    <div post-render view="responsables" id="pie_responsables" class="visualization_wrapper"></div>
                  </div> 
            </div>
          </section>
